---
interface Props {
    backgroundColor?: string;
    borderColor?: string;
    height?: string;
    angle?: string;
    id?: string;
}

const {
    backgroundColor,
    borderColor,
    height = "h-24",
    angle = "-3deg",
    id,
} = Astro.props;
---

<div class={`relative w-full ${height} ${backgroundColor} overflow-hidden -top-20`} id={id}>
  <div
    class={`absolute inset-0 ${borderColor} origin-top-right`}
    style={`transform: skewY(${angle});`}
  >
  </div>
</div>
